<template>
  <div class="relative bg-[#f2eecb] dark:bg-[#1E1E5C] rounded p-2 shadow-lg flex flex-col gap-1">
    <h4 class="text-lg text-center py-1">
      <router-link :to="`/missions?q=${mission.uid}`" class="hover:underline">
        <span v-html="mission.title"></span>
      </router-link>
      <span v-if="mission.author" class="text-sm text-gray-500 dark:text-gray-400"> by {{ mission.author }}</span>
    </h4>
    <div v-if="mission.temprorary" class="text-red-700 dark:text-red-400">
      This is the mission you just added, it shown just for your convenience, and will disappear if you press F5.
    </div>
    <div title="Edit Mission" class="text-lg hover:text-orange-500 cursor-pointer flex items-center gap-1 absolute top-1 right-1" @click="showEditCompanion">
      <bx:bxs-edit />
    </div>
    <div class="hover:(text-red-400) text-lg cursor-pointer flex items-center gap-1 absolute top-1 left-1" title="Add to Favorites" @click="missionFavoritesSet.has(mission.uid) ? missionFavorites.splice(missionFavorites.indexOf(mission.uid), 1) : missionFavorites.push(mission.uid)">
      <span class="text-red-500">
        <ci:heart-fill
          v-if="missionFavoritesSet.has(mission.uid)"
        />
        <ci:heart-outline v-else />
      </span>
    </div>
    <div class="max-h-sm overflow-hidden relative flex">
      <img
        v-if="mission.image && settings.perkImages"
        ref="imageEl"
        class="object-cover rounded "
        :class="showImage ? '' : 'filter blur-2xl transition'"
        draggable="false"
        :data-src="mission.image"
        alt="mission image"
      >
      <div v-if="!showImage" class="rounded inset-0 absolute w-1/2 h-12 bg-[rgba(0,0,0,0.4)] color-white cursor-pointer text-center m-auto leading-12" @click="showImage=true">
        Click to show image
      </div>
    </div>
    <div class="flex gap-2 justify-between px-2 float-right">
      <div v-if="mission.loca === 'Generic'" class="font-semibold">
        <span class=" text-teal-600 dark:text-teal-300">Generic mission</span>
      </div>
      <div v-else class="font-semibold">
        <span class="font-normal text-gray-600 dark:text-gray-300">Location</span>: {{ mission.loca }}
      </div>
      <div class="font-semibold whitespace-nowrap">
        <span class="font-normal text-gray-600 dark:text-gray-300">Scope</span>: {{ mission.scope }}
      </div>
    </div>
    <div v-if="mission.budget" class="text-center text-sm text-amber-800 dark:text-amber-300">
      ( Total cost of your build required to take this mission should be in <span class="text-green-800 dark:text-green-300">{{ Math.floor(mission.budget * 0.8) }}</span> - <span class="text-green-800 dark:text-green-300">{{ Math.floor(mission.budget * 1.2) }}</span> credits range)
    </div>
    <Desc :desc="mission.desc" />
    <div v-if="mission.conditions.length" class="px-2 flex flex-col gap-1">
      <h4 class="text-amber-800 dark:text-amber-300">
        Conditions:
      </h4>
      <ul class="list-disc list-inside">
        <li v-for="req in mission.conditions" :key="req.value" class="pl-4">
          {{ req.value }}
        </li>
      </ul>
    </div>
    <div class="px-2">
      <h4 class="text-green-800 dark:text-green-300 float-left pr-2">
        Reward
        <span v-if="mission.rewardType">
          [
          <span class="font-semibold text-pink-800 dark:text-pink-300">
            {{ mission.rewardType }}
          </span>
          ]
        </span>:
      </h4>
      <span>{{ mission.reward }}</span>
    </div>
    <div v-if="mission.objectives.length" class="px-2 flex flex-col gap-1">
      <h4 class="text-amber-800 dark:text-amber-300">
        Additional objectives:
      </h4>
      <div v-for="rew, n in mission.objectives.slice(0, 8)" :key="rew.value" class="p-1 pl-4 bg-blue-200 dark:bg-blue-gray-700 flex flex-col gap-2">
        <!-- <div class="flex gap-2 whitespace-nowrap">
          <label for="">Completed: <input id="" type="checkbox" name=""></label>
          <NumberInput v-if="Math.random() > 0.7" label="Number of times" />
        </div> -->
        <div><b>Objective {{ n + 1 }}</b>: {{ rew.value }}</div>
        <div>
          <span class="font-semibold text-green-800 dark:text-green-300">
            Reward
            <span v-if="rew.type">
              [
              <span class="font-semibold text-pink-800 dark:text-pink-300">
                {{ rew.type }}
              </span>
              ]
            </span>:
          </span> {{ rew.reward }}
        </div>
      </div>
      <div v-if="mission.objectives.length > 8 && !allObjectives" class="rounded w-1/2 h-8 hover:underline color-white cursor-pointer leading-8 flex items-center text-blue-800 dark:text-blue-300" @click="allObjectives = true">
        Show rest {{ mission.objectives.length - 8 }} objectives
        <ic:baseline-keyboard-double-arrow-down class="w-8" />
      </div>
      <template v-if="allObjectives">
        <div v-for="rew, n in mission.objectives.slice(8)" :key="rew.value" class="p-1 pl-4 bg-blue-200 dark:bg-blue-gray-700 flex flex-col gap-2">
          <!-- <div class="flex gap-2 whitespace-nowrap">
            <label for="">Completed: <input id="" type="checkbox" name=""></label>
            <NumberInput v-if="Math.random() > 0.7" label="Number of times" />
          </div> -->
          <div><b>Objective {{ n + 9 }}</b>: {{ rew.value }}</div>
          <div>
            <span class="font-semibold text-green-800 dark:text-green-300">
              Reward
              <span v-if="rew.type">
                [
                <span class="font-semibold text-pink-800 dark:text-pink-300">
                  {{ rew.type }}
                </span>
                ]
              </span>:
            </span> {{ rew.reward }}
          </div>
        </div>
      </template>
      <div v-if="mission.objectives.length > 8 && allObjectives" class="rounded w-1/2 h-8 hover:underline color-white cursor-pointer text-center leading-8  text-blue-800 dark:text-blue-300 flex items-center" @click="allObjectives = false">
        Hide them again
        <ic:baseline-keyboard-double-arrow-up class="w-8" />
      </div>
    </div>
    <Button
      class="text-gray-100 rounded cursor-pointer hover:bg-orange-500 px-2 mt-auto self-center"
      :label="missionRewards[mission.uid] ? 'Edit the rewards': 'Take the Mission'"
      :bg-color="!!missionRewards[mission.uid] ? 'bg-orange-600': 'bg-red-700'"
      icon="charm:swords"
      @click="showTakeMission = true"
    />
    <TakeMission v-if="showTakeMission" :mission="mission" @click="showTakeMission = false" />
    <AddMission v-if="showEditMission" :mission="mission" @click="showEditMission = false" />
  </div>
</template>

<script lang="ts" setup>
import { Mission } from 'global'
import type { PropType } from 'vue'
import { lazyLoadSingleImg } from '~/logic'
import { usePlayStore } from '~/store/play'
import { useSaves } from '~/store/saves'
import { useStore } from '~/store/store'

const { settings } = useStore()
const { missionRewards } = usePlayStore()
const { missionFavorites } = useSaves()

const props = defineProps({
  mission: {
    type: Object as PropType<Mission>,
    default: () => ({}),
  },
})

const imageEl = ref(null)
const showTakeMission = ref(false)
const showEditMission = ref(false)

const showImage = ref(!props.mission.lewd)
const allObjectives = ref(false)

const missionFavoritesSet = computed(() => new Set(missionFavorites.value))

onMounted(() => { if (imageEl.value) lazyLoadSingleImg(imageEl.value) })

function showEditCompanion() {
  showEditMission.value = true
}

</script>
