<template>
  <div class="w-full overflow-y-auto scrollbar">
    <div class="md:w-screen-md lg:pl-2 bg-gray-200 dark:bg-gray-800 p-2 mt-4 !items-stretch gap-4 ">
      <h2 class="text-xl font-bold text-center">
        Changelog
      </h2>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          26 February 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~100 new user submitted characters, new missions, new worlds</li>
          <li>A lot of new SWP perks</li>
          <li>A new Window that display some statistic for World targets.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          23 February 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~175 new user submitted characters, new missions, new worlds</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          16 February 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>100+? new user submitted characters, new missions, new worlds</li>
          <li>TX rework (Rework will break your old builds that used TX perks, you would need to sell and buy them again to fix)</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          12 February 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>100+? new user submitted characters, new missions, new worlds</li>
          <li>A new feature to Import and Export local characters to google spreadsheets, can be found under Gear icon on Companions page</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          09 February 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~120 new user submitted characters, new missions, new worlds</li>
          <li>A separate form for proposing Specific Waifu Perks, it allows adding local perks too.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          05 February 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~200 new user submitted characters, new missions, new worlds</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          02 February 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~170 new user submitted characters, new missions</li>
          <li>2 new Expansion Lure DLC perks, 1 Home DLC Perk and 1 Heritage DLC perk</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          29 January 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~100 new user submitted characters, new missions</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          26 January 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~220 new user submitted characters, new missions, new worlds</li>
          <li>Support for NSFW images for Missions added</li>
          <li>Now you can see your submitted mission temporary on a missions page</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          22 January 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~70 new user submitted characters, new missions, new worlds</li>
          <li>New challenges by DepressedAlucard</li>
          <li>Tournament PvP by Despin</li>
          <li>Couple of new official Specific Waifu Perks</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          19 January 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~90 new user submitted characters, new missions</li>
          <li>Missions on mission page now have links (title)</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          16 January 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~unknown new user submitted characters, new missions, new worlds</li>
          <li>Removed all characters without images.</li>
          <li>3 new official Specific Waifu Perks</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          13 January 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~125 new user submitted characters, new missions, new worlds</li>
          <li>Removed a lot of Digimon and Skyrim characters without image.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          08 January 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~70 new user submitted characters, new missions, new worlds</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          05 January 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~60 new user submitted characters, new missions, new worlds</li>
          <li>4 new challenges</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          02 January 2023
        </h3>
        <ul class="list-decimal list-inside">
          <li>~190 new user submitted characters, new missions, new worlds</li>
          <li>4 new challenges</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          29 December 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~170 new user submitted characters, new missions</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          26 December 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~180 new user submitted characters, new missions</li>
          <li>2 new DLC Heritages, in a WIP stage</li>
          <li>Shared Builds page, in a WIP stage too</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          22 December 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~130 new user submitted characters, new missions</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          18 December 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~100 new user submitted characters, new missions, new worlds.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          15 December 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~90 new user submitted characters, new missions, new worlds.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          11 December 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~120 new user submitted characters, new missions, new worlds.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          08 December 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~160 new user submitted characters, new missions, new world.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          04 December 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~70 new user submitted characters, new missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          01 December 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~190 new user submitted characters, new worlds and missions.</li>
          <li>Warranty Plan split into 2 perks.</li>
          <li>You now can filter missions by favorite</li>
          <li>Custom setting for number of columns of companions.</li>
          <li>Patron rework added.</li>
          <li>Several Specific Waifu Perks by DepressedAlucard added</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          27 November 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~60 new user submitted characters, new worlds and missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          24 November 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~310 new user submitted characters, new worlds and missions.</li>
          <li>Symbiote App [Commissioned by ClayUndead] (finished)</li>
          <li>Infinite scrolling and search for missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          20 November 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~160 new user submitted characters, new worlds and missions.</li>
          <li>Symbiote App [Commissioned by ClayUndead] (WIP, I underestimated the complexity, again...)</li>
          <li>Lunasmeow asked to delete all his submitted missions from the site</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          17 November 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~200 new user submitted characters, new worlds and missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          13 November 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~200 new user submitted characters, new worlds and missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          9 November 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~155 new user submitted characters, new worlds and missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          5 November 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~113 new user submitted characters, new worlds and missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          2 November 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~120 new user submitted characters, new worlds and missions.</li>
          <li>A button to sort worlds by newly added.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          30 October 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~340 new user submitted characters, new worlds and missions.</li>
          <li>Reworked Power Swap code to allow for TX, expect bugs</li>
          <li>Reworked Specific Waifu Perks code, expect bugs</li>
          <li>Now you can assign custom images to Retinue from any source.</li>
          <li>Now you can capture copies of companions, although they will not be eligible for Specific Waifu Perks.</li>
          <li>Worlds page now use infinite scroll, maybe it will improve performance</li>
          <li>Now you can safely rename characters with Template Stack & other targeted perks, without selling and buying them again. Expect bugs in old saves.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          23 October 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~215 new user submitted characters, new worlds and missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          19 October 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~165 new user submitted characters.</li>
          <li>Defenses rebates now counted <b>automatically</b>, old system can be turned on in settings.</li>
          <li>You can now use old Slightly Used rules for rolls.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          16 October 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>180 new user submitted characters, 2 new worlds, new missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          12 October 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>150 new user submitted characters, 11 new worlds, new missions.</li>
          <li>Arguments for tier change for characters now visible.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          08 October 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>110 new user submitted characters, new mission.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          04 October 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>54 new user submitted characters, 4 new worlds.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          02 October 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>28 new user submitted characters, new mission.</li>
          <li>World Rating filter now works for conditions</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          28 September 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~130 new user submitted characters, 4 new worlds, new missions.</li>
          <li>New Symbiote binding.</li>
          <li>New filter for changed in the current update companions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          23 September 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~120 new user submitted characters, 4 new worlds, new missions.</li>
          <li>Slightly new way to buy Prismatic Shroud, expect new bugs</li>
          <li>Your SO card now shows in Retinue if you pick Couples Account in intensity (it does not do anything) </li>
          <li>AND/OR switch for the search by tags</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          18 September 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~50 new user submitted characters, 6 new worlds, new missions.</li>
          <li>Slightly Used now work by different rules.</li>
          <li>6 new official generic waifu perks.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          15 September 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~80 new user submitted characters, new missions.</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          11 September 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~30 new user submitted characters, 8 new worlds, new missions.</li>
          <li>Up and Down buttons to rearrange retinue members</li>
          <li>Notes for retinue members</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          08 September 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~120 new user submitted characters</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          05 September 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~200 new user submitted characters, new missions</li>
          <li>Basic filter (don't work for conditions) for Official/User worlds</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          02 September 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~190 new user submitted characters, new missions, 6 new worlds</li>
          <li>Transhuman rework added.</li>
          <li>Most of the rules updated to new stable version.</li>
          <li>Changed code for freebies distribution a bit, so now Talent Sharing freebies should work, but expect bugs (I think it should work fine as long as you don't have 2 copies of the same Talent Sharing).</li>
          <li>Unnoficial trauma tiers for Slightly Used waifus are added with examples of traumas, provided by DepressedAlucard</li>
          <li>Added DLC perks for Command Seals by <b>Skelethin</b></li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          28 August 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~90 new user submitted characters, new missions</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          25 August 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~125 new user submitted characters, new missions, 5 new worlds</li>
          <li>New setting to hide legacy(old) perks, will beturned on for nwe users by default (I think?)</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          21 August 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~45 new user submitted characters, new missions, 2 new worlds</li>
          <li>New layout with your 'device' being always visible (button is in top left corner of device)</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          18 August 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~130 new user submitted characters, new missions, 10 new worlds</li>
          <li>Defense discount tags are now separated from normal tags</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          14 August 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~300 new user submitted characters, new missions, 11 new worlds</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          10 August 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~90 new user submitted characters, new missions, 11 new worlds</li>
          <li>You can now click on 'No Bindings' to return all binding perks</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          6 August 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~120 new user submitted characters, new missions, 11 new worlds</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          3 August 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~140 new user submitted characters, new missions</li>
          <li>Splitted Intensity page into 3 pages</li>
          <li>New "Tsundere Service" lure perk</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          30 July 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~123 new user submitted characters, new missions, 5 new worlds</li>
          <li>Some new waifu perks (Honkai Impact)</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          27 July 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~190 new user submitted characters, new missions, 11 new worlds</li>
          <li>Specific Waifu Perks are now treated as companions</li>
          <li>You can now buy companions directly from Specific Waifu Perks page</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          23 July 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~320 new user submitted characters, new missions</li>
          <li>User added tags now can be seen in Tags window</li>
          <li>Bugfixes & small changes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          16 July 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~160 new user submitted characters, new missions, 8 new worlds</li>
          <li>Location now searchable in missions, Company Stamp now is default for new builds.</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          11 July 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~160 new user submitted characters, new missions, 11 new worlds</li>
          <li>Edit function for missions</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          07 July 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~145 new user submitted characters, new missions, 6 new worlds</li>
          <li>A lot of new images for perks, missions and worlds were provided by <b>DepressedAlucard</b></li>
          <li>Text aligment and font-size settings.</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          03 July 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~100 new user submitted characters, new missions, 12 new worlds</li>
          <li>A lot of new images for perks, missions and worlds were provided by <b>DepressedAlucard</b></li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          29 June 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~65 new user submitted characters, new missions</li>
          <li>Processed all submitted <b>conditions</b> for the worlds</li>
          <li>Settings for the Copy Image feature (don't knw why I did the color thing...)</li>
          <li><b>Manual removal</b> of perks on Build tab should work properly</li>
          <li><b>TS1 was replaced</b> with the one from unstable version, Racial Template and OCDS got removed</li>
          <li>Renamed T11 to TX where I was able to find it</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          26 June 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~160 new user submitted characters, new missions, 9 new worlds</li>
          <li>You now can take missions (perk reward can be buggy)</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          19 June 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~65 new user submitted characters, new missions</li>
          <li>Done a bit of a work on missions page and generated missions</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          15 June 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~60 new user submitted characters, new missions, 10 new worlds</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          11 June 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~185 new user submitted characters, new missions</li>
          <li>Settings for the gacha, dup on a gacha roll now will give nothing</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          08 June 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~80 new user submitted characters, new missions</li>
          <li>Intro for new users / first time opening the site</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          04 June 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~80 new user submitted characters, new missions</li>
          <li>Character Tags in Retinue tab</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          31 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~110 new user submitted characters, new missions</li>
          <li>New CSR and Loan rules</li>
          <li>Import / Export for local characters (gear icon on characters page, near results)</li>
          <li>Blacklist of worlds now can be turned off or changed to Whitelist</li>
          <li>10 new user submitted worlds and some conditions</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          28 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~90 new user submitted characters, new missions</li>
          <li>Heritage discounts for the Power Swap archetype</li>
          <li>Specific credit modifiers now show up in the Copy to Text and Image</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          25 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~140 new user submitted characters, new missions, worlds</li>
          <li>Sorting by the Targets count for the Worlds page</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          21 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~55 new user submitted characters, new missions</li>
          <li>New Bindings Tantric Arts and Hypnosis App</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          18 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>Small changes here and there</li>
          <li>Moved Space trucking into a separate page</li>
          <li>Combined Local user chars with global (local ones have a green name)</li>
          <li>~135 new user submitted characters, new mission</li>
          <li>9 new user submitted worlds</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          14 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>Basic search function(workds only on perks)</li>
          <li>Number of available targets for the World Cards</li>
          <li>Option to save image insted of copy to clipboard</li>
          <li>~60 new user submitted characters, new mission</li>
          <li>10 new user submitted worlds</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          11 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~70 new user submitted characters, new missions</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          08 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~90 new user submitted characters, new missions</li>
          <li>16 new Worlds, some number of new conditions</li>
          <li>Separate setting for hiding world and companion images.</li>
          <li>Official worlds now can have unnofficial conditions and they should be color marked the same as worlds (if you notice wrong colors assigned to worlds/conditions send me a bug-report on Discord)</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          04 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~46 new user submitted characters, new missions</li>
          <li>Archdeity of Eternity work now.</li>
          <li>You can use local chars for possess/substitute/power swap/etc., optimized power swap/template stacking dialog - should not lag that much.</li>
          <li>Companion/Familiar/Devotee filter in Retinue tab</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          01 May 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~150 new user submitted characters, new missions</li>
          <li>Dungeon app became more useful</li>
          <li>2 new PvP orbs(Green, Blue), 1 new DLC lure</li>
          <li>14 new worlds, a lot of images for the worlds provided by someone (was forced to write another tool to proccess all of them)</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          27 April 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~120 new user submitted characters, new missions</li>
          <li>New Dungeon app (turned out to be more comlicated than I anticipated complicated so still WIP)</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          23 April 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~150 new user submitted characters</li>
          <li>Some work done on Patrons</li>
          <li>7 new worlds, 3 new missions</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          20 April 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~125 new user submitted characters</li>
          <li>Adding local perks became a bit better</li>
          <li>10 new worlds, 1 new perk</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          16 April 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~84 new user submitted characters</li>
          <li>You can now add perks locally (unstable and buggy, use with caution)</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          13 April 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~220 new user submitted characters</li>
          <li>New page for all WC fics <a class="text-blue-500 underline cursor-pointer" href="https://waifu-catalog.neocities.org/fics">https://waifu-catalog.neocities.org/fics</a></li>
          <li>Separation of DLC perks from official ones</li>
          <li>New missions, 7 worlds</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          09 April 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~130 new user submitted characters</li>
          <li>New missions, 1 perk, 8 worlds</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          06 April 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~150 new user submitted characters</li>
          <li>3 new Rides, by KatzSmile</li>
          <li>More new Perk images provided by KatzSmile</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          02 April 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~100 new user submitted characters</li>
          <li>2 new user submitted worlds</li>
          <li>Worlds combined into one list, added rating limit for worlds</li>
          <li>Separation of Generic companion perks from specific ones</li>
          <li>A lot of new Perk images provided by KatzSmile</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          30 March 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~125 new user submitted characters</li>
          <li>10 new user submitted worlds</li>
          <li>Sort characters by World, Shuffle characters</li>
          <li>You can now collapse description of perks individually and there is a global option in settings</li>
          <li>9 new Perk images provided by KatzSmile</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          26 March 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~165 new user submitted characters</li>
          <li>Some changes to character search (Tier range/separate world input)</li>
          <li>Block-list for characters worlds (don't like how it works may delete in the future)</li>
          <li>Some UI changes and improvements</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          23 March 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~180 new user submitted characters</li>
          <li>37(O_O) new user submitted Worlds</li>
          <li>All characters from pokemon Expansion now have 'Monster' tag</li>
          <li>All characters now have at least a gender tag</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          19 March 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~145 new user submitted characters</li>
          <li>21 new user submitted World</li>
          <li>Changed companion search algorithm to handle complex names like 'name1/name2' better, may affected search a bit more than I wanted (rollback is possible)</li>
          <li>You can now free your retinue members (not an canon feature)</li>
          <li>New app - Gacha (it's a scam)</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          16 March 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~285 new user submitted characters</li>
          <li>Now you can't sell back free talents/defenses (untested)</li>
          <li>Some UI changes</li>
          <li>You can now filter by 'unofficial' tags by clicking on them</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          12 March 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~80 new user submitted characters</li>
          <li>11 new user submitted worlds</li>
          <li>A lot of new NSFW images this week ~300, mostly submitted by <strong>Anon</strong></li>
          <li>Made a tool for myself to quickly assign tags, and assigned about ~2000+ gender tags for characters that didn't have them, accuracy is probably 95%+</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          09 March 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~135 new user submitted characters</li>
          <li>Shortcut for Build to Text - Alt+S</li>
          <li>Shortcut for Build to Image - Alt+D</li>
          <li>New Build to Image function</li>
          <li>Some UI changes</li>
          <li>You can now click on character tag to filter by it</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          05 March 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~35 new user submitted characters</li>
          <li>Shortcut for clearing build - Alt+C</li>
          <li>You now can sell TX tickets for 2000 credits in smartphone -> wrench icon</li>
          <li>Sell/Return/Undo all buttons in retinue tab</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          02 March 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~85 new user submitted characters</li>
          <li>13 new user submitted worlds</li>
          <li>Reworked Missions page a bit added some random generated missions, need more ideas/inspirations for those</li>
          <li>Some UI changes</li>
          <li>Changed propose perk dialog a bit</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          26 February 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~80 new user submitted characters</li>
          <li>Reworked Missions page a bit</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          23 February 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~200 new user submitted characters</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          20 February 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>11 new user submitted worlds.</li>
          <li>Power Swap added</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          19 February 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~150 new user submitted characters</li>
          <li>2 new user submitted perks</li>
          <li>New infinite scroll for companions - you can now scroll as much as you want without lags, but sadly there some bugs still.</li>
          <li>Attempt to fix constant cache issues - now catalog work in offline, did not tested yet.</li>
          <li>You can chose DR11 start in intensities (will add all talents and defenses automatically)</li>
          <li>Some rules for companion's submissions (will add more in future)</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          12 February 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~200 new user submitted characters</li>
          <li>19 new user submitted world</li>
          <li>
            You can now search characters by username, example: <b>@Om1cr0n</b>. More search options in
            <a class="text-blue-500 underline" href="https://waifu-catalog.neocities.org/help">help</a>
          </li>
          <li>Added Patron's from Mortaegus’s Mod <b>(WIP)</b></li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          05 February 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>Specific credits modifiers</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          04 February 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~200 new user submitted Characters.</li>
          <li>~110 new user submitted NSFW images.</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          03 February 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>~50 new user submitted Characters.</li>
          <li class="font-semibold">
            Made almost all (SWP's left) changes to match new Stable version <a href="https://forum.questionablequesting.com/threads/r34-economy-cyoa-thread.11289/page-1371#post-5230615" target="_blank" rel="noopener noreferrer" class="underline text-blue-500">changelog</a>
          </li>
          <li>Added Wrong Image and Tags in Report errors dialog for characters</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          29 January 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>130 new user submitted Characters.</li>
          <li>12 new user submitted Worlds.</li>
          <li>DemonOrk provided 137 images for Pokemon Expansion characters</li>
          <li>Setting to turn off all images for SFW browsing</li>
          <li>New 'report mistakes' dialog for characters</li>
          <li>New way to buy complex talents (TS, OCDS)</li>
          <li>3 new DLC perks</li>
          <li>List of Talents/Generic Waifu/Specific Waifu perks in Retinue tab (WIP?)</li>
          <li>KatzSmile reworked Pocket Space app</li>
          <li>Split of Binding&Lures to separate pages</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          24 January 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>78 new user submitted Characters.</li>
          <li>Setting Specific Rules list in Rules</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          22 January 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>New UC, Meta Shift, Meta Shift II, Blank Slate perks.</li>
          <li>Added Size and Capacity for rides provided by <b>OmegaSpark</b></li>
          <li>250 new user submitted Characters.</li>
          <li>A-Z 1-9 sorting for companions</li>
          <li>8 new user submitted Worlds.</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          20 January 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li class="text-red-500 font-semibold">
            Some of the submitted characters ~200 for 14-16 jan. got lost due to my mistake.
          </li>
          <li>180 new user submitted Characters.</li>
          <li>Settings, you can now turn off DLC perks by Author</li>
          <li>Images for all Perks provided by <b>KatzSmile</b>, you can turn them off in settings</li>
          <li>Better layout for big screens</li>
          <li>You can now assign yourself an image in Retinue tab</li>
          <li>Despin’s Tier Chart in rules</li>
          <li>15 new user submitted Worlds.</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          15 January 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>62 new user submitted Characters.</li>
          <li>5 new user submitted Rides.</li>
          <li>2 new user submitted Waifu Perks.</li>
          <li>Discounts, Discounts App - some of the old saves may have become incorrect, expect bugs</li>
          <li>Top 20 users by submitted characters on About page</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          11 January 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>250 new user submitted Characters.</li>
          <li>16 new user submitted Worlds.</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          10 January 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>105 new user submitted Characters.</li>
          <li>Pocket Space(RP)(By KatzSmile) app.</li>
          <li>Ritual Circle app.</li>
          <li>Bulk Capture Calculator app.</li>
          <li>Your card in Retinue tab</li>
          <li>Character choose for Walk-In origin</li>
          <li>You can now change name in Retinue tab on 'smartphone'</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          02 January 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>60 new user submitted Characters.</li>
          <li>Changed Add Mission form a bit.</li>
          <li>You can now change genders in Companions tab on 'smartphone'</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          01 January 2022
        </h3>
        <ul class="list-decimal list-inside">
          <li>128 new user submitted Characters.</li>
          <li>5 DLC perks</li>
          <li>Proper tag filter system with include/exclude</li>
          <li>When you click on 'Perk' tag it will take you to waifu perks</li>
          <li>10 new user submitted Worlds.</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          28 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>86 new user submitted Characters.</li>
          <li>Empty Hand and 2 DLC perks</li>
          <li>3 new user submitted Worlds.</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          27 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>125 new user submitted Characters.</li>
          <li>7 new user submitted Worlds.</li>
          <li>Extended companion search help (on the Help page)</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          25 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>Removed 370+ doubles from  database</li>
          <li>Added 200+ NSFW images provided by <b>Jimmothy</b>(he provided a lot more, but they did not pass my review)</li>
          <li>119 new user submitted Characters.</li>
          <li>Simple Notes App</li>
          <li>Missions page(just to check what missions currently submitted)</li>
          <li>6 new user submitted Worlds.</li>
          <li>2 new DLC perks.</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          21 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>10 new perks from Merior DLC</li>
          <li>36 new user submitted Characters.</li>
          <li>5 new user submitted Worlds.</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          20 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>8 new DLC perks, 1 new DLC challenge.</li>
          <li>36 new user submitted Characters.</li>
          <li>NSFW images filter and Global NSFW/SFW option</li>
          <li>You now can add characters to Favorite list, and filter by favorites</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          19 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>70 new user submitted Characters.</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          18 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>199 new user submitted Characters.</li>
          <li>10 new DLC perks.</li>
          <li>Cash Still Rules/loans app</li>
          <li>Dragon Aura app</li>
          <li>Reworked what perks will be automatically deleted when you unselect perks that they required</li>
          <li>Bugfixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          15 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>37 new user submitted Characters.</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          14 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>17 new user submitted Characters.</li>
          <li>8 new DLC perks.</li>
          <li>Basic Chargen/In World mode</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          13 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>70 new user submitted Characters.</li>
          <li>3 new DLC perks.</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          12 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>86 new user submitted Characters.</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          11 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li><b>Rem Knight</b> provided 44 images for Girls Frontline characters.</li>
          <li>Ability to turn off DLCs</li>
          <li>Propose Mission form</li>
          <li>Challenges</li>
          <li>107 new user submitted Characters.</li>
          <li>Added 11 user submitted worlds.</li>
          <li>Rework of side menu</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          05 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>Filter by tags</li>
          <li>Added some tags to characters</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          04 December 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>64 new user submitted Characters.</li>
          <li>Added 15 user submitted worlds.</li>
          <li>Add Character dialog now have <b>Tags</b> input</li>
          <li>Renamed some Worlds that 'Limit to a World' would work better</li>
          <li>Save/Load now have Save to File option</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          27 November 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li><b>Rem Knight</b> provided 44 images for Girls Frontline characters.</li>
          <li><b>PokeAdmirer</b> provided 23 images for Pokemon Expansion characters.</li>
          <li>181 new user submitted Characters.</li>
          <li>Added 16 user submitted worlds.</li>
          <li>Added ratings for All Unknown Rating Worlds</li>
          <li>Random Build App</li>
          <li>Made separate tab for Companions and added more functions to companion management</li>
          <li>Added subcategory for Companions World</li>
          <li>World and World subcategory in Add Character now have hints</li>
          <li>Ancestral Diversity perk should work properly</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          19 November 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>69(nice!) new user submitted Characters.</li>
          <li>Added 9 user submitted worlds.</li>
          <li>Missions app(WIP)</li>
          <li>Exit stage Left app(WIP)</li>
          <li>Yo now can add your own Ride</li>
          <li>Dice Machine app</li>
          <li>Random World, Random Character app</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          13 November 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>Added 11 user submitted worlds.</li>
          <li>Danger 11 rules helper.</li>
          <li>Waifu perks now purchasable only if you have the right waifu.</li>
          <li>164 new user submitted Characters.</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          08 November 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>Added 32 user submitted worlds.</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          07 November 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>You now can buy multiple instances of perks like Template Stacking, Paper Trail etc.</li>
          <li>Gender and Submitted by User tags for characters</li>
          <li>Filter characters by gender and image</li>
          <li>37 new new user submitted characters</li>
          <li>Added Companions tier descriptions in rules</li>
          <li>Grouping of Heritages and Bindings</li>
          <li>Bug fixes</li>
          <li>Added Even More bugs</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          2 November 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li class="font-semibold">
            Beta v0.1 Release
          </li>
          <li>37 new user submitted characters</li>
          <li>Save & Load feature</li>
          <li>Share your build by link feature</li>
          <li>You can choose Transhuman type and get associated with it freebies</li>
          <li>About Page</li>
          <li>Help Page</li>
          <li>Bug fixes</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          29 October 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>Better formating, author notes, Info tables.</li>
          <li>You can Yoink and buy Slightly used waifus</li>
          <li>You can sell companions for 20% of their cost</li>
          <li>All perks should be purchaseable, some mechanics still don't work</li>
          <li>Copy Text of A build button</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          25 October 2021
        </h3>
        <ul class="list-decimal list-inside">
          <li>Persistent state, now your current build will be saved even when you press F5 or close the tab. You can clear current build in 'smartphone'</li>
          <li>Lazy loading for images</li>
          <li>Free stuff gets properly deleted if you unselect perk that gave them.</li>
          <li>Sorting for Worlds by name and rating</li>
          <li>Added most of Heritage freebies except Transhuman types, formatting of heritage text</li>
          <li>Index of Everything</li>
          <li>Infinite scrolling of Companions</li>
          <li>Better formatting for some perks</li>
          <li>Bug fixes, adding more new bugs.</li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold text-center py-2 text-orange-700 dark:text-orange-300">
          22 October 2021
        </h3>
        <ul class="list-decimal list-inside pb-8">
          <li>Propose to global in Add world and Add Character dialogs should work, I will review and add submitted stuff occasionally.</li>
          <li>You can capture companions now, no selling captures yet</li>
          <li>Waifu Perks now have all images and you can pick them, although it does't check if you have waifu or add any effect.</li>
          <li>In 'Smartphone' you can choose between tabs [Build, Spending's, Manual]</li>
          <ul class="ml-2 list-disc list-inside">
            <li>Build: you can now scroll if it has to much stuff</li>
            <li>Spending's: your total spending's useful if you try Build by DR11 rules</li>
            <li>Manual: manually add or subtract credits and tickets</li>
          </ul>
          <li>You will receive free talents and defenses in Bindings, but they will not be deleted if you unselect Binding keep that in mind. </li>
          <li>You can view Ritual circle parameters in Bindings</li>
          <li>Some small stuff's that I don't remember</li>
          <li>Changelog</li>
          <li>Added new bugs</li>
        </ul>
      </div>
    </div>
  </div>
</template>
